:root {
    font-size: 62.5%;
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F5F5F5;
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    color: #224957;
}

.darkMode {
    background-color: #093545;
    color: #fff;
}

h1 {
    font-weight: 400;
    font-size: 6.4rem;
    line-height: 8rem;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 5rem;
    line-height: 6.2rem;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
}

.btnPrimary {
    width: 30rem;
    height: 4.5rem;
    background-color: #20DF7E;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    border: none;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: #224957
}

.darkMode .btnPrimary {
    width: 30rem;
    height: 4.5rem;
    background-color: #033EB0;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    border: none;
    text-transform: uppercase;
    color: #FFF
}


.btnSecondary {
    width: 30rem;
    height: 4.5rem;
    border: 0.2rem solid #224957;
    filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.3));
    border-radius: 1rem;
}

input {
    width: 30rem;
    height: 4.3rem;
    background-color: #224957;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #FFF;
    border: none;
    padding: 0 1rem;
    font-family: "Lexend Deca", sans-serif;
}



p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    color: #FFF;
}